/*
.Gif{
  border: 1px solid #eee;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 32px;
  width: 100%;
}

.Gif h4{
  margin: 0;
}

.Gif img{
  object-fit: contain;
}
*/
