:root{
  --result-colums:2;
}

.ListOfGifs{
  column-count: var(--result-colums);
  column-gap: .5em;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.ListOfGifs-item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  background: #eee;
  display: inline-block;
  width: 100%;
}

@media (min-width: 600px){
  :root{
    --result-colums:2;
  }
}

@media (min-width: 800px){
  :root{
    --result-colums:4;
  }
}
