.App {
  text-align: center;
}
.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  padding: 16px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a{
  color:#09f;
  font-size: 26px;
}

i{
  font-size: 80px;
}
